<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017-2018 AppJetty. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="editablepdf" frontName="editablepdf">
            <module name="Biztech_EditablePdf"/>
        </route>
    </router>
</config>
