<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">    
    <event name="generate_namenumber_vectore_file">
        <observer name="generate_vectore_file" instance="Biztech\EditablePdf\Observer\generateVectoreFile"/>
    </event>
</config> 